header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

body {
    background: rgb(255, 255, 255);
}

h1 {
    color: rgb(56, 35, 3);
}

h3 {
    color: darkgoldenrod;
}

p {
    background: rgb(255, 255, 255);
}

footer {
    background-color: rgb(75, 73, 73);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 .fotocentradas{
    display: flex;
   justify-content: space-between ;
 }

.inicio {
    display: inline-block;
    line-height: 2;
    text-align: right;
}

.liIlustraciones {
    font-weight: bold;
    color: white;
    background-image: url("imagenes/rana.jpg");
    height: 40;
    width: 200;
    margin: 60px;
    padding: 80px;

}
.lidiseño3d {
    font-weight: bold;
    color: white;
    background-image: url("imagenes/esqueleto Meraxes_completo_1.png");
    width: 550px;
    height: 350px;
    margin: 60px;
    padding: 80px;
}
.liMeraxes {
    font-weight: bold;
    color: white;
     background-image: url(imagenes/MERAXES.jpg);
    width: 500px;
    height: 500px;
    margin: 60px;
    padding: 80px;
}
.imgGiganotosaurus {
    width: 500px;
    margin: 3px;
    padding: 3px;
}



.textoFoto {
    margin-left: auto;
    display: block;
}

.decoracion {
    text-decoration: none;
    color: rgb(82, 52, 7);
}

.imgRedonda {

    width: 70px;
    height: 70px;
    border-radius: 150px;
}
.textoCentrado {
    text-align:start
}
